doctype html
html(lang="en")
  head
    script(async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3715996854656266' crossorigin='anonymous')
    script(src='uv/uv.bundle.js', defer='')
    script(src='uv/uv.config.js', defer='')
    script(src='register-sw.js', defer='')
    script(src='search.js', defer='')
    script(src='index.js', defer='')
    meta(charset="UTF-8")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title BrainJet
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    link(rel="stylesheet" href="css/styles.css")
    link(rel="stylesheet" href="css/ButtonGlow.css")
    link(rel="stylesheet" href="css/cards.css")
    style.
      .tab-content {
        position: relative;
        height: 200px; /* Adjust height as needed */
      }
      .tab-content > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
      }
      .tab-content > .active {
        opacity: 1;
        visibility: visible;
      }
      .satisfaction-text {
        color: #4c9ac7; /* Muted blue color */
        font-weight: bold;
        text-shadow: 0 0 2px #4c9ac7, 0 0 4px #4c9ac7, 0 0 6px #4c9ac7;
        animation: glow 1.5s infinite alternate;
      }
      @keyframes glow {
        0% {
          text-shadow: 0 0 2px #4c9ac7, 0 0 4px #4c9ac7, 0 0 6px #4c9ac7;
        }
        100% {
          text-shadow: 0 0 4px #4c9ac7, 0 0 6px #4c9ac7, 0 0 8px #4c9ac7;
        }
      }
  body
    nav.navbar.navbar-expand-lg.border-body(data-bs-theme='dark')
        .container-fluid
            a.navbar-brand.mx-3(href='#')
                        img(src="imgs/logo.png", alt="logo" width="60")
                        |       BrainJet
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarColor01' aria-controls='navbarColor01' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarColor01.collapse.navbar-collapse
                #items.d-flex.justify-content-center.align-items-center
                    ul.navbar-nav.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='#' id="proLink") Prȯxy
                        li.nav-item
                            a.nav-link(href='#' id="gaLink") Gámes
                a.btn(href='https://discord.gg/homeworkhelp')#glow
                    i.fa-brands.fa-discord
                    |  Discord
                
                    //- form.d-flex(role='search')
                    //-     input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
                    //-     button.btn.btn-outline-light(type='submit') Search

    .container.text-center
        //- .card
        //-     .card-body
        //-         h5.card-title 1v1.lol
        //-         h6.card-subtitle.mb-2.text-body-secondary Play 1v1.lol
        //-         p.card-text Play 1v1.lol with your friends
        //-         a.btn.btn-primary(href='https://1v1.lol') Play
        .tab-content
            #gaContent
                h4.text-center.mt-5.mb-3.satisfaction-text Screw the new ETHS policies
                br
                .row
                    .col
                        .btn#card(onClick="window.location='/learn/1v1'")
                            .image-box
                                img(src="imgs/1v1lol.png", alt="1v1.lol")
                            .c-title
                                h5 1v1.lol
                                p Play 1v1.lol with your friends
                    .col
                        .btn.now#card
                            .image-box
                                img(src="imgs/now.png", alt="now.gg")
                            .c-title
                                h5 now.gg
                                p Online mobile game emulator
                    .col
                        .btn.holeio#card
                            .image-box
                                img(src="imgs/holeio.png", alt="hole.io")
                            .c-title
                                h5 hole.io
                                p Eat a city or somth. Idk.
                .row
                    .col
                        .btn.paperio#card
                            .image-box
                                img(src="imgs/paperio2.png", alt="paper.io")
                            .c-title
                                h5 paper.io
                                p The CLASSIC time waster
                    .col
                        .btn.twenty48#card
                            .image-box
                                img(src="imgs/twenty48.png", alt="2048")
                            .c-title
                                h5 2048
                                p Great one. 10/10
                    .col
                        .btn.slope#card
                            .image-box
                                img(src="imgs/slope.png", alt="slope")
                            .c-title
                                h5 Slope
                                p yes. slope.
                .row
                    .col
                        .btn.doge#card
                            .image-box
                                img(src="imgs/doge.png", alt="paper.io")
                            .c-title
                                h5 Doge Miner
                                p Mine doge coins bc yes.
                h4.text-center.mt-5.mb-3.satisfaction-text More Soon
                    //- .col
                    //-     .btn.now#card
                    //-         .image-box
                    //-             img(src="imgs/now.png", alt="now.gg")
                    //-         .c-title
                    //-             h5 now.gg
                    //-             p Online mobile game emulator
                    //- .col
                    //-     .btn.holeio#card
                    //-         .image-box
                    //-             img(src="imgs/holeio.png", alt="hole.io")
                    //-         .c-title
                    //-             h5 hole.io
                    //-             p Eat a city or somth. Idk.
            #proContent.text-center
                img(src="imgs/pagego.png", alt="logo" width="300")#pagego
                .container
                    <p class="line-1 anim-typewriter">The site that &#x26CE;N&#x1F171;&#xFE0F;L&#x1F17E;C&#x1F1F0;S everything.</p>
                form#uv-form
                    input#uv-address.form-control(style='background-color:#ffffff23' type='text' placeholder='')
                    script(src='js/splashs.js')
    <div class="customcontainer"><div class="bubbles"><span style="--i:11" class="b"></span><span style="--i:13" class="b"></span><span style="--i:18" class="b"></span><span style="--i:15" class="b"></span><span style="--i:18" class="b"></span><span style="--i:21" class="b"></span><span style="--i:9" class="b"></span><span style="--i:12" class="b"></span><span style="--i:11" class="b"></span><span style="--i:15" class="b"></span><i class="fa-solid fa-shuttle-space shuttle" style="--i: 14;" aria-hidden="true"></i><span style="--i:9" class="b"></span><span style="--i:19" class="b"></span><span style="--i:11" class="b"></span><i class="fa-solid fa-shuttle-space shuttle" style="--i: 8;" aria-hidden="true"></i><span style="--i:10" class="b"></span><span style="--i:15" class="b"></span><i class="fa-solid fa-shuttle-space shuttle" style="--i: 18;" aria-hidden="true"></i><span style="--i:22" class="b"></span><i class="fa-solid fa-shuttle-space shuttle" style="--i: 18;" aria-hidden="true"></i><span style="--i:14" class="b"></span><span style="--i:22" class="b"></span><span style="--i:22" class="b"></span><span style="--i:15" class="b"></span><span style="--i:11" class="b"></span><span style="--i:10" class="b"></span><i class="fa-solid fa-shuttle-space shuttle" style="--i: 13;" aria-hidden="true"></i><span style="--i:21" class="b"></span><span style="--i:10" class="b"></span><span style="--i:17" class="b"></span><span style="--i:19" class="b"></span><span style="--i:22 class="b""></span><span style="--i:9" class="b"></span><span style="--i:18" class="b"></span><span style="--i:12" class="b"></span><span style="--i:14" class="b"></span><span style="--i:23" class="b"></span><span style="--i:14" class="b"></span><span style="--i:14" class="b"></span><span style="--i:21" class="b"></span><span style="--i:19" class="b"></span><span style="--i:17" class="b"></span><span style="--i:15" class="b"></span><span style="--i:18" class="b"></span><span style="--i:12" class="b"></span><span style="--i:13" class="b"></span><span style="--i:14" class="b"></span><span style="--i:8" class="b"></span><span style="--i:10" class="b"></span><span style="--i:10" class="b"></span></div></div>
    script.
      function showTab(tabId) {
        // Hide all tab contents
        document.querySelectorAll('.tab-content > div').forEach(function(content) {
          content.classList.remove('active');
        });

        // Remove active class from all nav links
        document.querySelectorAll('.navbar-nav .nav-link').forEach(function(link) {
          link.classList.remove('active');
        });

        // Show the selected tab content and add active class to the corresponding link
        document.getElementById(tabId).classList.add('active');
        document.getElementById(tabId + 'Link').classList.add('active');
      }

      // Add event listeners to tabs
      document.getElementById('proLink').addEventListener('click', function(event) {
        event.preventDefault();
        showTab('proContent');
      });

      document.getElementById('gaLink').addEventListener('click', function(event) {
        event.preventDefault();
        showTab('gaContent');
      });

      // Initialize the first tab as active
      showTab('proContent');
    <script src="js/icons.js"></script>
    script.
      //- get rbx class and make an onclick event
      document.querySelector('.now').addEventListener('click', async function() {
        try {
          await registerSW();
        } catch (err) {
          error.textContent = "Failed to register service worker.";
          errorCode.textContent = err.toString();
          throw err;
        }

        const url = search("https://now.gg/", "https://www.google.com/search?q=%s");
        location.href = __uv$config.prefix + __uv$config.encodeUrl(url);
      });

      document.querySelector('.holeio').addEventListener('click', async function() {
        try {
          await registerSW();
        } catch (err) {
          error.textContent = "Failed to register service worker.";
          errorCode.textContent = err.toString();
          throw err;
        }

        const url = search("https://hole-io.com/", "https://www.google.com/search?q=%s");
        location.href = __uv$config.prefix + __uv$config.encodeUrl(url);
      });

      document.querySelector('.twenty48').addEventListener('click', async function() {
        try {
          await registerSW();
        } catch (err) {
          error.textContent = "Failed to register service worker.";
          errorCode.textContent = err.toString();
          throw err;
        }

        const url = search("https://ovolve.github.io/2048-AI/", "https://www.google.com/search?q=%s");
        location.href = __uv$config.prefix + __uv$config.encodeUrl(url);
      });

      document.querySelector('.slope').addEventListener('click', async function() {
        try {
          await registerSW();
        } catch (err) {
          error.textContent = "Failed to register service worker.";
          errorCode.textContent = err.toString();
          throw err;
        }

        window.location = "http://brainjet.net/uv/service/hvtrs8%2F-gcmgs%2Cari%2Ctolcbq.mng%2Feaoeq%2Fqlmpg%2F"
      });

      document.querySelector('.doge').addEventListener('click', async function() {
        try {
          await registerSW();
        } catch (err) {
          error.textContent = "Failed to register service worker.";
          errorCode.textContent = err.toString();
          throw err;
        }

        window.location = "http://brainjet.net/uv/service/hvtrs8%2F-gcmgs%2Cari%2Ctolcbq.mng%2Feaoeq%2FFoeeOilep%2F"
      });

      document.querySelector('.paperio').addEventListener('click', async function() {
        try {
          await registerSW();
        } catch (err) {
          error.textContent = "Failed to register service worker.";
          errorCode.textContent = err.toString();
          throw err;
        }

        const url = search("https://paper-io.com/", "https://www.google.com/search?q=%s");
        location.href = __uv$config.prefix + __uv$config.encodeUrl(url);
      });
    script(src='index.js')
