@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruda:wght@400..900&display=swap');

/* General Styles */
/* body {
    background-color: #0D0D0D;
    color: white;
    margin: 0;
    padding: 0;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    min-height: 100vh;
    background: #0f0f13;
    /* linear-gradient(to bottom, #0f0f13, #111116) */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* a.navbar-brand {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: 500;
} */

.navbar-nav .nav-item .nav-link {
    padding: 0.5rem 1rem; /* Adjust these values to reduce spacing */
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: x-large;
}

#items {
    width: 90%!important;
}

#uv-form {
    filter: drop-shadow(0px 0px 10px rgb(8, 148, 255));
    /* color: white; */
}

#uv-address::placeholder {
    color: white;
    opacity: 0.5;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 20em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(50) 1s 1 normal both,
             blinkTextCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}

  to{width: 20em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0, 132, 255, 0.75);}
  to{border-right-color: transparent;}
}

#pagego {
    /* margin-bottom: 10px; */
    margin: 20px 20px 20px 20px;
}

.customcontainer {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bubbles {
    position: relative;
    display: flex;
    z-index: -1;
}

.bubbles .b {
    position: relative;
    width: calc(100% / 50);;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50rem;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear;
    z-index: -1;
    animation-duration: calc(125s / var(--i));
}

.shuttle {
    position: relative;
    filter: drop-shadow(0px 0px 10px rgb(255, 0, 204));
    animation: animateagain 15s linear;
    z-index: -1;
    animation-duration: calc(125s / var(--i));
    rotate: -90deg;
}

.bubbles .b:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-50vh) scale(1)
    }
}
@keyframes animateagain {
    0% {
        transform: translateX(-100vh);
    }
    100% {
        transform: translateX(50vh)
    }
}